@import './variables.scss';

#formContent {
  width: 100%;
  max-width: 100%;
  margin: 10px 0;
  overflow: auto;

  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
}

#spaceForm {
  margin: 10px 30px 10px 10px;
  width: 30vw;
  height: auto;
  font-family: $letter-type;
  color: $color-grey;
  font-size: 14px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

input {
  width: 100%;
  height: 30px;
  margin: 6px 0;
  font-size: 16px;
  font-family: "Heebo-Regular";
  outline: none;

  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom-color: #ccc;
  border-bottom-width: 2.5px;

  transition: all 0.5s;
}

input:focus {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom-color: $color-secondary;
  
}

::placeholder { color: #ccc; }

#formButtons {
  display: flex;
  justify-content: space-around;
}

#cancelButton {
  min-height: 40px;
  border-radius: 20px;
  color: $color-secondary;
  border: 1px solid $color-secondary;
  background: $color-light;
  font-family: $letter-italic;
  font-size: 16px;
  width: 30%;
  cursor: pointer;
}
    
#nextButton {
  color: $color-light;
  min-height: 50px;
  border-radius: 25px;
  background: $color-registerBottom;
  box-shadow: 0 10px 14px -8px rgb(0 0 0 / 25%);
  font-family: $letter-italic;
  font-size: 16px;
  width: 30%;
  cursor: pointer;
}


@media screen and (max-width:800px) {
  #formContent {
    flex-flow: column wrap;
  }

  #spaceForm {
    width: 65vw;
  }

  #formButtons {
    flex-flow: column-reverse wrap;
    justify-content: space-between;
    align-items: center;
    align-content: space-around;
  }

  #cancelButton {
    margin-top: 10px;
    width: 85%;
  }

  #nextButton {
    width: 85%;
  }

}
