//Importar de google font letras de la app
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');

// Variables
$color-background: #E6EFF5;
$color-letter: #353a3d;
$color-secondary: #ff9c19;
$color-registerBottom: linear-gradient(90deg,#009af0 0,#0069a3);
$color-light: #fff;
$color-letter-login-top: #f08700!important;
$color-restartPassword: #009af0;
$color-grey: #707b84;
$letter-italic: 'Ubuntu', sans-serif;
$letter-type: 'Heebo', sans-serif;
$border-shadow: 0 0 12px -4px rgb(0 0 0 / 25%);
$border-shadow-form: 0 16px 12px -10px rgb(108 152 181 / 50%);